
html{
    background-color: black;
    color: white;
}



h1{
    margin-left:100px;
    background-color: black;
    color: white;
}

menu{
	display:grid;
	list-style-type: circle;
	margin-block-start:1em;
	margin-block-end:1em;
}




	
